.config-page-one-bg {
    min-height: 100vh;
    height: 100%;
}

.config-page-one-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f2f2f2;
    min-height: 100vh;
}

.cards-container-config1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    width: 50%;
}

.card-config1 {
    width: 100%;
    border: none;
    box-shadow: 0 3px 5px -3px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 65vh,
}

.card-body-config1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.form-select {
    outline: none;
    box-shadow: "none";
    width: 300px;
}

.configure-btn {
    background-color: #651a1a;
    border: none;
    cursor: pointer;
    outline: none;
}

.labelWithIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.configure-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    margin-top: 20px;
}

@media screen and (min-width:481px) and (max-width:768px) {

    .cards-container-config1 {
        width: 90%;
        margin: 10px;
    }

    .form-select {
        width: 180px;
        font-size: 16px;
    }

    .configure-btn {
        font-size: 14px;
    }
}

@media screen and (max-width:480px) {
    .cards-container-config1 {
        width: 90%;
        margin: 10px;
        justify-content: space-between;

    }

    .form-select {
        width: 100%;
        font-size: 14px;
    }

    .card-body-config1 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .labelWithIcon {
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
    }

    .configure-btn {
        font-size: 14px;
        width: 250px;
        float: right;
        text-align: center;
        align-self: center;
    }

    .configure-btn-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        align-self: center;
    }

}
